<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036471330400-c1erus50708veu3fln67arm4a01imouq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036471330400-c1erus50708veu3fln67arm4a01imouq</string>
	<key>API_KEY</key>
	<string>AIzaSyDhIxtYEKkBp1xd7mk_PmfecrQKp8nRqLM</string>
	<key>GCM_SENDER_ID</key>
	<string>1036471330400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceFirebaseUser</string>
	<key>PROJECT_ID</key>
	<string>ecommeredi</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommeredi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036471330400:ios:255f588f66b0302911c505</string>
</dict>
</plist>